p{
    color: #ccc;
    border: 2px solid rgba(18, 24, 52, 0.9);
    border-radius: 5px;
    text-shadow: 2px 2px 10px #ffffff;
    padding: 5px;
    text-align: center;
}

.clear{
    background-color: orange;
    border: none;
    border-radius: 2px;
    color: #fff;
    margin-top: 7px;
    margin-left: 2px;
    width: 183px;
}

.calculator{
    background-color: rgba(18, 24, 52, 0.8);
    width: 250px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
}

#display{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0px;
    font-size: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7px;
}

button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(18, 24, 52, 0.9);
    color: #fff;
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
}
.remainder{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(18, 24, 52, 0.9);
    color: #fff;
    border-radius: 5px;
    width: 58px;
    margin-left: 3px;
}